---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: blue;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Test style
body {
    background-color: red !important; // Bright red background to confirm CSS is applied
}

// .masthead .masthead__inner-wrap {
//     // display: flex !important;
//     // flex-direction: column !important;
//     // align-items: center !important;
//     display: block !important;
//     width: 100% !important;
//     clear: both !important;
//     margin: 0 !important;
//     padding: 0 !important;
// }

.masthead .masthead__innerwrap {
    display: block !important;
    width: 100% !important;
    clear: both !important;
    margin: 0 !important;
    padding: 0 !important;
}

.masthead {
    position: relative;
    padding-bottom: 40px !important;
}

.greedy-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    // position: relative !important;
    // width: 100% !important;
    // // background-color: #fff;
    // padding: 10px 0 !important;
    // clear: both !important;
    // display: block !important;
    // visibility: visible !important;
}

.greedy-nav .visible-links {
    // display: flex !important;
    // flex-direction: row !important;
    // justify-content: center !important; // Center links (or change to flex-start)
    // margin: 0 !important;
    // padding: 0 !important;
    flex: 1 0 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    // margin-top: 10px;
    margin: 0 !important;
    padding: 0 !important;
    flex-wrap: nowrap !important;
}

.greedy-nav .masthead__menu-item {
    margin: 0 1px !important;
    list-style: none !important;
}

.greedy-nav__toggle {
    display: none !important;
}

.hidden-links {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .greedy-nav .visible-links {
        display: flex !important;
    }
    .greedy-nav__toggle {
        display: none !important;
    }
    .hidden-links {
        display: none !important;
    }
}